In [1]:
import pandas as pd

In [3]:
df1 = pd.read_csv("day.csv")
df2 = pd.read_csv("hour.csv")

print(df1.info)
print(df2.info)

<bound method DataFrame.info of      instant      dteday  season  yr  mnth  holiday  weekday  workingday  \
0          1  2011-01-01       1   0     1        0        6           0
1          2  2011-01-02       1   0     1        0        0           0
2          3  2011-01-03       1   0     1        0        1           1
3          4  2011-01-04       1   0     1        0        2           1
4          5  2011-01-05       1   0     1        0        3           1
..       ...         ...     ...  ..   ...      ...      ...         ...
726      727  2012-12-27       1   1    12        0        4           1
727      728  2012-12-28       1   1    12        0        5           1
728      729  2012-12-29       1   1    12        0        6           0
729      730  2012-12-30       1   1    12        0        0           0
730      731  2012-12-31       1   1    12        0        1           1

     weathersit      temp     atemp       hum  windspeed  casual  registered  \
0             2  0.344167  0.363625  0.805833   0.160446     331         654
1             2  0.363478  0.353739  0.696087   0.248539     131         670
2             1  0.196364  0.189405  0.437273   0.248309     120        1229
3             1  0.200000  0.212122  0.590435   0.160296     108        1454
4             1  0.226957  0.229270  0.436957   0.186900      82        1518
..          ...       ...       ...       ...        ...     ...         ...
726           2  0.254167  0.226642  0.652917   0.350133     247        1867
727           2  0.253333  0.255046  0.590000   0.155471     644        2451
728           2  0.253333  0.242400  0.752917   0.124383     159        1182
729           1  0.255833  0.231700  0.483333   0.350754     364        1432
730           2  0.215833  0.223487  0.577500   0.154846     439        2290

      cnt
0     985
1     801
2    1349
3    1562
4    1600
..    ...
726  2114
727  3095
728  1341
729  1796
730  2729

[731 rows x 16 columns]>
<bound method DataFrame.info of        instant      dteday  season  yr  mnth  hr  holiday  weekday  \
0            1  2011-01-01       1   0     1   0        0        6
1            2  2011-01-01       1   0     1   1        0        6
2            3  2011-01-01       1   0     1   2        0        6
3            4  2011-01-01       1   0     1   3        0        6
4            5  2011-01-01       1   0     1   4        0        6
...        ...         ...     ...  ..   ...  ..      ...      ...
17374    17375  2012-12-31       1   1    12  19        0        1
17375    17376  2012-12-31       1   1    12  20        0        1
17376    17377  2012-12-31       1   1    12  21        0        1
17377    17378  2012-12-31       1   1    12  22        0        1
17378    17379  2012-12-31       1   1    12  23        0        1

       workingday  weathersit  temp   atemp   hum  windspeed  casual  \
0               0           1  0.24  0.2879  0.81     0.0000       3
1               0           1  0.22  0.2727  0.80     0.0000       8
2               0           1  0.22  0.2727  0.80     0.0000       5
3               0           1  0.24  0.2879  0.75     0.0000       3
4               0           1  0.24  0.2879  0.75     0.0000       0
...           ...         ...   ...     ...   ...        ...     ...
17374           1           2  0.26  0.2576  0.60     0.1642      11
17375           1           2  0.26  0.2576  0.60     0.1642       8
17376           1           1  0.26  0.2576  0.60     0.1642       7
17377           1           1  0.26  0.2727  0.56     0.1343      13
17378           1           1  0.26  0.2727  0.65     0.1343      12

       registered  cnt
0              13   16
1              32   40
2              27   32
3              10   13
4               1    1
...           ...  ...
17374         108  119
17375          81   89
17376          83   90
17377          48   61
17378          37   49

[17379 rows x 17 columns]>

In [5]:
print(df1.head())
print(df2.head())

   instant      dteday  season  yr  mnth  holiday  weekday  workingday  \
0        1  2011-01-01       1   0     1        0        6           0
1        2  2011-01-02       1   0     1        0        0           0
2        3  2011-01-03       1   0     1        0        1           1
3        4  2011-01-04       1   0     1        0        2           1
4        5  2011-01-05       1   0     1        0        3           1

   weathersit      temp     atemp       hum  windspeed  casual  registered  \
0           2  0.344167  0.363625  0.805833   0.160446     331         654
1           2  0.363478  0.353739  0.696087   0.248539     131         670
2           1  0.196364  0.189405  0.437273   0.248309     120        1229
3           1  0.200000  0.212122  0.590435   0.160296     108        1454
4           1  0.226957  0.229270  0.436957   0.186900      82        1518

    cnt
0   985
1   801
2  1349
3  1562
4  1600
   instant      dteday  season  yr  mnth  hr  holiday  weekday  workingday  \
0        1  2011-01-01       1   0     1   0        0        6           0
1        2  2011-01-01       1   0     1   1        0        6           0
2        3  2011-01-01       1   0     1   2        0        6           0
3        4  2011-01-01       1   0     1   3        0        6           0
4        5  2011-01-01       1   0     1   4        0        6           0

   weathersit  temp   atemp   hum  windspeed  casual  registered  cnt
0           1  0.24  0.2879  0.81        0.0       3          13   16
1           1  0.22  0.2727  0.80        0.0       8          32   40
2           1  0.22  0.2727  0.80        0.0       5          27   32
3           1  0.24  0.2879  0.75        0.0       3          10   13
4           1  0.24  0.2879  0.75        0.0       0           1    1

In [9]:
df1['dteday'] = pd.to_datetime(df1['dteday'])
df2['dteday'] = pd.to_datetime(df2['dteday'])

In [12]:
print(df1.isnull().sum())
print(df2.isnull().sum())

instant       0
dteday        0
season        0
yr            0
mnth          0
holiday       0
weekday       0
workingday    0
weathersit    0
temp          0
atemp         0
hum           0
windspeed     0
casual        0
registered    0
cnt           0
dtype: int64
instant       0
dteday        0
season        0
yr            0
mnth          0
hr            0
holiday       0
weekday       0
workingday    0
weathersit    0
temp          0
atemp         0
hum           0
windspeed     0
casual        0
registered    0
cnt           0
dtype: int64

In [42]:
df1['season'] = df1['season'].astype('category')
df2['season'] = df2['season'].astype('category')

df1['weathersit'] = df1['weathersit'].astype('category')
df2['weathersit'] = df2['weathersit'].astype('category')

df1['holiday'] = df1['holiday'].astype('bool')
df2['holiday'] = df2['holiday'].astype('bool')

df1['workingday'] = df1['workingday'].astype('bool')
df2['workingday'] = df2['workingday'].astype('bool')

In [43]:
df1.drop_duplicates(inplace=True)
df2.drop_duplicates(inplace=True)

In [44]:
print(df1.describe())

          instant               dteday          yr        mnth     weekday  \
count  731.000000                  731  731.000000  731.000000  731.000000
mean   366.000000  2012-01-01 00:00:00    0.500684    6.519836    2.997264
min      1.000000  2011-01-01 00:00:00    0.000000    1.000000    0.000000
25%    183.500000  2011-07-02 12:00:00    0.000000    4.000000    1.000000
50%    366.000000  2012-01-01 00:00:00    1.000000    7.000000    3.000000
75%    548.500000  2012-07-01 12:00:00    1.000000   10.000000    5.000000
max    731.000000  2012-12-31 00:00:00    1.000000   12.000000    6.000000
std    211.165812                  NaN    0.500342    3.451913    2.004787

             temp       atemp         hum   windspeed       casual  \
count  731.000000  731.000000  731.000000  731.000000   731.000000
mean     0.495385    0.474354    0.627894    0.190486   848.176471
min      0.059130    0.079070    0.000000    0.022392     2.000000
25%      0.337083    0.337842    0.520000    0.134950   315.500000
50%      0.498333    0.486733    0.626667    0.180975   713.000000
75%      0.655417    0.608602    0.730209    0.233214  1096.000000
max      0.861667    0.840896    0.972500    0.507463  3410.000000
std      0.183051    0.162961    0.142429    0.077498   686.622488

        registered          cnt
count   731.000000   731.000000
mean   3656.172367  4504.348837
min      20.000000    22.000000
25%    2497.000000  3152.000000
50%    3662.000000  4548.000000
75%    4776.500000  5956.000000
max    6946.000000  8714.000000
std    1560.256377  1937.211452

data analysis
a) peak ridership periods

In [45]:
#peak ridership periods
monthly_ridership_df1 = df1.groupby('mnth')['cnt'].sum()
seasonal_ridership_df1 = df1.groupby('season')['cnt'].sum()

dataset2

In [46]:
hourly_ridership_df2  =df2.groupby('hr')['cnt'].sum()
weekly_ridership_df2 = df2 .groupby('weekday')['cnt'].sum()
monthly_ridership_df2 = df2.groupby('mnth')['cnt'].sum()
print(hourly_ridership_df2,weekly_ridership_df2,monthly_ridership_df2)

hr
0      39130
1      24164
2      16352
3       8174
4       4428
5      14261
6      55132
7     154171
8     261001
9     159438
10    126257
11    151320
12    184414
13    184919
14    175652
15    183149
16    227748
17    336860
18    309772
19    226789
20    164550
21    125445
22     95612
23     63941
Name: cnt, dtype: int64 weekday
0    444027
1    455503
2    469109
3    473048
4    485395
5    487790
6    477807
Name: cnt, dtype: int64 mnth
1     134933
2     151352
3     228920
4     269094
5     331686
6     346342
7     344948
8     351194
9     345991
10    322352
11    254831
12    211036
Name: cnt, dtype: int64

b)station  informations is not provided so cant able to find popular stations

c) user variations

In [47]:
df1_user_variations = df1[['casual','registered']].sum()
df2_user_variations = df2[['casual','registered']].sum()

In [ ]:
d) weather influences

In [48]:
weather_ridership_df1 = df1.groupby('weathersit')['cnt'].sum()
weather_ridership_df2 =  df2.groupby('weathersit')['cnt'].sum()
print(weather_ridership_df1)

weathersit
1    2257952
2     996858
3      37869
Name: cnt, dtype: int64

In [49]:
df1.to_csv('cleaned_day_dataset.csv',index = False)
df2.to_csv('cleaned_hours_dataset.csv',index=False)